* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;

  opacity: 0.95;
}

.content {
  padding: 30px 30px 30px 90px;
  margin: 0 auto;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 0 300px 0 100px;
  box-shadow: rgba(33, 35, 38, 0.5) 0px 10px 10px -10px;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  flex-wrap: nowrap;
}

.link{
  display: flex;
}

.link h1{
  align-items: center;
  font-weight: 600;
}

.link ul{
  list-style: none;
  display: flex;
  text-decoration: none;
  padding: 0 20px;
  font-size: 1.2rem;
  font-weight: 600;
  flex-direction: column;
  flex-wrap: nowrap;
}

.link .nav-item .nav-link{
  text-decoration: none;
  color: black;
  padding: 0 20px;
  transition: all .5s;
}

.link .nav-item:hover .nav-link{
  color: rgb(9, 172, 123);
}

.link .nav-item::after{
  content: "";
  width: 0;
  height: 2px;
  background: linear-gradient(-225deg, #aee6d5 0%, #ebb5e0 100%);
  display: block;
  transition: all .5s;
}

.link .nav-item:hover::after{
  width: 100%;
} 

.link .nav-item.active .nav-link{
  color: rgb(9, 172, 123);
} 

.link .nav-item.active::after{
  width: 100%;
}  

.shopping-cart{
  position: relative;
}

.shopping-cart i{
  font-size: 2.5rem;
  color: rgba(17, 17, 17, 0.801);
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: transparent;
  border: 1px dashed #c5577a;
  border-radius: 50%;
  transition: all .5s;
}

.shopping-cart i:hover{
  color: #c5577a;
}

#totalQuantity{
  position: absolute;
  top: 10px;
  left: 27px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  text-align: center; 
}

.products{
  padding-top: 100px;
}

.custom-select {
  width: 17%;
}

.products__card {
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 10px;
  background-color: #fff;
}

#price{
  font-weight: 600;
  font-size: 1.2rem;
  color: #3e403f;
}

.products__card img {
  width: 70%;
  background-size: contain;
  margin: 10px 0;
}

.products__desc {
  position: relative;
  height: max-content;
  padding-bottom: 10px;
}

.products__desc_overlay {
  padding: 5px;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 20%;
  left: 0;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  height: 250px;
  width: 100%;
  height: max-content;
  border-radius: 5px;
  opacity: 0;
  transition: all 1s;
  z-index: 1;
}

.products__desc_overlay:hover {
  opacity: 1;
  transform: translateY(15%);
}

.products__desc .title {
  font-size: 1.5rem;
  font-weight: 600;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  height: 35px;
  border-radius: 8px;
}

.toCart {
  text-align: center;
  padding: 10px;
  opacity: 1;
}

.toCart span {
  font-size: 1rem;
  padding: 0 5px;
  font-weight: 600;
  
}

.toCart i {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgb(238, 232, 232);
  border: 1px dashed #c5577a;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.toCart i:hover {
  background-color: black;
  color: white;
}

#myModal{
    margin-right: 150px;
}

#header-title{
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  height: 55px;
  width: 650px;
  border-radius: 8px;
}

#empty-cart-message{
  color: red;
}

.modal-content {
  width: 700px;
  height: max-content;
  background-color: #fff;
}

.modal-content header {
  margin: 2% auto 10% auto;
  text-align: center;
}
/* Login title form form */
.modal-content header h2 {
  font-size: 250%;
  color: #3e403f;
}
/*  A welcome message or an explanation of the login form */
.modal-content header p {
  letter-spacing: 0.05em;
}

.table {
  width: 650px;
  height: max-content;
}

.table td{
  border-top: none;
}

thead {
  font-size: 1.2rem;
}

#tbody-cart {
  font-size: 1.2rem;
}

#tbody-cart tr {
  transition: all 0.5s;
}

#tbody-cart tr:hover {
  background-color: rgb(228, 224, 224);
}

.cart-img {
  width: 100px;
}

.cart-img img {
  width: 100%;
}

.cart-total {
  font-size: 1.2rem;
  font-weight: 600;
}

.cart-remove {
  cursor: pointer;
  text-align: center;
}

.cart-remove i {
  color: black;
  transition: all 0.5s;
}

.cart-remove i:hover {
  color: rgb(202, 33, 33);
}

.cart-quantity{
    display: flex;
}

.qty{
    padding: 0 5px;
}

.btn-qty i{
  font-size: 1rem;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(228, 224, 224);
  transition: all .3s;
}

.btn-qty i:hover{
    background-color: #fff;
}

#modal-footer{
    display: flex;
    flex-direction: column;
    
}

@media only screen and (max-width: 991px){
  #cart-info-message{
    display: none;
  }
  .navbar{
    padding: 0 200px 0 100px;
  }
  .custom-select {
    width: 35%;
  }
  #title{
    font-size: 1.2rem;
    line-height: 35px;
  }
  #myModal{
    margin-right: 10px;
  }
  .table {
    width: 550px;
  }

  #header-title{
    width: 550px;
  }
  .modal-content {
    width: 600px;
  }
}

@media only screen and (max-width: 575px){
  #cart-info-message{
    display: none;
  }
  .navbar{
    padding: 0 10px 0 10px;
  }
  .custom-select {
    width: 100%;
  }
  .products__card{
    margin-left: -10%;
  }
  .products__filter{
    margin-left: -15%;
  }
  .link h1{
    align-items: center;
    font-weight: 600;
    font-size: 2rem;
  }
  .link ul{
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 500;
  }
  #myModal{
    margin-right: 10px;
  }
  .table {
    width: 380px;
  }
  #header-title{
    width: 400px;
  }
  .modal-content {
    width: 400px;
  }
  #empty-cart-message{
    font-size: 1rem;
  }
  table tr{
    font-size: .8rem;
  }
  table tr th:first-child{
    display: none;
  }
  table tr td:first-child{
    display: none;
  }
  .btn-qty i{
    font-size: .8rem;
  }
  .cart-remove i{
    font-size: 1.1rem;
  }
}

/* ADMIN PAGE */
#loading{
  background-color: black;
  position: fixed;
  opacity: .8;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#loading p{
  font-size: 28px;
  position: absolute;
  top: 480px;
  color: #fff;
}

.content-admin {
  padding: 100px 200px 30px 200px;
  margin: 0 auto;
}

.card-body table{
  width: 1350px;
}
.card-body table th{
  font-size: 1rem;
}

#tableDanhSach img{
  width: 100%;
}

.th-image{
  width: 100px;
}

.th-bcamera{
  width: 200px;
}

.th-fcamera{
  width: 150px;
}

.db-img img{
  width: 100%;
}

#tableCyberPhone tr{
  border-bottom: 1px solid rgb(180, 178, 178);
}

.setting{
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.setting span{
  margin: 0 2px;
}

.sp-thongbao {
  color: red;
  margin-left: 2px; 
  display: none;
}